

.container-header{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-items: center;
}

.perfil-image{
    width: 150px;
    border-radius: 100%;
}

.presentation-container{
    display: flex;
    flex-direction: column;
    column-gap: 1em;
    row-gap: 1em;
}

.circle-status{
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: rgb(61, 209, 118);
}

.position-title{
    font-weight: 700;
    font-size: 1.5rem;
    background-color: #fff;
    color: var(--color-blue);
    padding: 0.5rem;
    border-radius: 15px;
    display: flex;
    column-gap: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.general-information-container{
    display: flex;
    flex-direction: column;
}

.general-information-container div{
    padding: 2rem 0;
}

.general-information-container > div:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.section-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.section-info p {
    font-size: 16px;
}