

.container-presentation{
    height: 100%;
    width: 100%;
    display: flex;
}

/* presentacion */

.presentation-container{
    height: 100vh;
    display: flex;
    flex: 1;
    flex-wrap: wrap-reverse;
    align-items: center;
}

.presentation-body{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.presentation-text{
    color: #fff;
}

.presentation-name{
    font-size: 150%;
}

.presentation-ocupation{
    font-size: 200%;
}

.presentation-image{
    border-radius: 100%;
    width: 400px;
}

@media (min-width: 980px){
    .presentation-container{
        justify-content: space-around;
    }
}

@media (max-width: 980px){
    .presentation-container{
        row-gap: 3rem;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .presentation-text{
        text-align: center;
    }

    .information-container{
        padding: 0 1rem;
    }
}

.information-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 5rem 0;
}

.information-container :not(:last-child){
    border-bottom-style: solid;
    border-bottom-color: #fff;
    border-bottom-width: 1px;
    padding-bottom: 2rem;
}