

<section class="socials-container">
    <div>
        <a href="https://mail.google.com/mail/?view=cm&fs=1&to=alexandraplanera@gmail.com&su=Consulta%20desde%20portfolio&body=Hola Ursula,%0A%0AMe contacto para..." target="_blank">
            <app-at-icon></app-at-icon>
        </a>
    </div>
    <div>
        <a href="https://github.com/UrsulaPlanera" target="_blank">
            <app-github-icon></app-github-icon>
        </a>
    </div>
    <div>
        <a href="https://www.linkedin.com/in/ursulaplanera/" target="_blank">
            <app-linkedin-icon></app-linkedin-icon>
        </a>
    </div>
</section>