/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-rose: #BE8F8F;
    --color-gris-oscuro: #3b3b3b;
    font-family: "Figtree", sans-serif;
    font-size: 600;
    color: var(--color-gris-oscuro);
}

*{
    margin: 0;
    padding: 0;
}

a, button{
    cursor: pointer;
}

a{
    color: var(--color-gris-oscuro);
    text-decoration: none;
}


body {
  background-color: var(--color-rose);
  background-size: 20px 20px;
  height: 100vh;
  overflow-y: scroll;
  font-size: 20px;
}

.without-data{
    margin: 2rem 0;
}