

.container-nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 1rem;
    column-gap: 2rem;
    overflow-y: hidden;
}

.container-nav a{
    color: #fff;
}

.container-body{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container-pages{
    flex: 1;
    height: 100%;
    width: 100%;
    overflow-y:scroll;
    max-width: 1280px;
    margin: auto;
}

::-webkit-scrollbar {
    display: none;
}