
.container-body{
    display: flex;
    flex-direction: column; /* Apila los elementos verticalmente */
    min-height: 100vh;
}

.container-nav{
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 0.5rem;
    width: 100%; /* Ocupa todo el ancho en móvil */
}

.container-nav ul{
    list-style: none;
    display: flex; /* Para que los links queden horizontales en móvil (opcional) */
    gap: 15px;
    justify-content: space-around;
}

.container-pages{
    width: 100%;
    flex: 1; /* Ocupa el espacio restante */
}

@media (min-width: 768px) {
    
    .container-body {
        flex-direction: row; /* Cambia a horizontal: Nav a la izq, contenido a la der */
        column-gap: 2rem;
    }

    .container-nav {
        max-width: max-content;
        padding: 1rem; /* Ancho fijo para la barra lateral */
        height: 100vh; /* Altura completa de la pantalla */
        
        /* Opcional: Si quieres que el menú baje verticalmente en escritorio */
        display: flex;
        flex-direction: column; 
    }

    .container-nav ul {
        flex-direction: column; /* Links uno debajo del otro */
        align-items: flex-start;
    }

    .container-pages{
        align-items: flex-start;
    }

    .subcontainer-pages{
        max-width: 650px;
        max-height: 100vh;
        overflow-y: scroll;
        display: flex;
    }

    ::-webkit-scrollbar { display: none; }
}

@media (max-width: 767px){
    .subcontainer-pages{
        margin: 2rem;
    }
}