
.technologies-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 5rem 0;
}

.technologies-logo{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}

.netLogo{
    font-size: 300%;
    color: #fff;
}

.working{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
    p{
        color: #fff;
        font-size: 16px;
    }
}